<%- include("header.ejs", { home: "Home", nav: "Profile", logAction: "notAuth"}) %>

    <div class="content">
        <div class="hero">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <% r = (typeof(range) !== 'undefined') %> 
        <% if (r) { %>
            <%= range %>
        <% } %>
        <% s = (typeof(stock) !== 'undefined') %> 
         <%= s %> 
         <% if (s) { %>
         <%= s %> 
        <% } %>

       
        <form class="search" action="/router" method="POST">
            <input type="search" placeholder="Search..." name="stock">
            <input type="submit" value=&#x2315>
        </form>
        <br>

        <% if(s){ %>
            <form class="timeRange" action="/router" method="POST">
                <input type="hidden" value="<%=stock%>" name="stock">
                <button type="submit" id="1d" value="1d" name="range">1d</button>
                <button type="submit" id="3d" value="3d" name="range">3d</button>
                <button type="submit" id="5d" value="5d" name="range">5d</button>
                <button type="submit" id="1w" value="1w" name="range">1w</button>
                <button type="submit" id="2w" value="2w" name="range">2w</button>
                <button type="submit" id="1m" value="1m" name="range">1m</button>
                <button type="submit" id="3m" value="3m" name="range">3m</button>
                <button type="submit" id="6m" value="6m" name="range">6m</button>
                <button type="submit" id="1y" value="1y" name="range">1y</button>
            </form>
            <br>
            <canvas id="stockGraph"></canvas>
        <% } %>
    </div>

    <script src="app.js"></script>

    <%- include("footer.ejs") %>