<%- include("header.ejs", { home: "Home", nav: "Profile", loggedIn: true}) %>

    <div class="content">
        <div class="hero">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <h1>
            <% if(typeof(name) !== 'undefined'){ %> 
                <%= name %>
                <% } %>
        </h1>

        <div class="buyForm">
            <form action="./userProfile" method="POST">
                <input type="text" id="tickerID" name="CurrentStock" placeholder="enter a ticker">
                <input type="text" id="shares" name="shares" placeholder="shares">
                <input type="submit" id="buybtn" value="BUY">
                <input type="submit" id="sellbtn" value="SELL">
            </form>
        </div>
        
        <div class="portfolio-container">
            <table id="portfolio">
                <tr>
                    <th>Ticker</th>
                    <th>price</th>
                    <th>shares</th>
                </tr>
                <% for (let i = 0; i < port.length; i++) { %>
                    <tr class="portRow" id=<%=` port${i}` %>>
        
        
                                <td class="ticker">
                                <%= port[i].ticker %>
                                </td>
                                <td class = "price">
                                <%= port[i].mostrecentprice %>
                                </td>
                                <td class = "shares">
                                <%= port[i].numshares %>
                                </td>
                                <td class = "visualize">
        
        
                                <form action="/candlestickGraph" method="POST">
                                    <button type="submit" id="tickerButton<%=i%>" name="CurrentStock" value="<%=port[i].ticker%>">visualize</button>
                                </form>
        
        
                                </td>
        
        
                    </tr>
                    <% } %>
            </table>
        </div>

    </div>

<script>
    function plotPort(i){
        

    }
</script>
    <script src="app.js"></script>