<%- include("header.ejs", { home: "Home", nav: "Profile", logAction: "notAuth"}) %>

    <div class="content">
        <div class="hero">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <h1>
            <% if(typeof(name) !== 'undefined'){ %> 
                <%= name %>
                <% } %>
        </h1>

        <div class="buyForm">
            
        </div>

        <div class="portfolio-container">
            <table id="portfolio">
                <tr>
                    <th>Ticker</th>
                    <th>price</th>
                    <th>shares</th>
                </tr>
                <% for (let i = 0; i < port.length; i++) { %>
                    <tr class="portRow" id=<%=` port${i}` %>>
                        <% for (let j = 0; j < 4; j++) { %>
                            <% if(j == 0){ %>
                                <td class="ticker">
                            <%}else {%>
                                <td>
                            <% } %>
                            <% if(j == 3) { %>
                                <form action="./userProfile" method="POST">
                                    <button type="submit" id="tickerButton<%=i%>" name="tickerID" value="<%=port[i][0]%>">visualize</button>
                                </form>
                            <% }else{ %>
                                <%= port[i][j] %>
                            <% } %>
                                </td>
                            <% } %>
                        </form>
                    </tr>
                    <% } %>
            </table>
        </div>



    </div>

<script>
    function plotPort(i){
        

    }
</script>
    <script src="app.js"></script>

    <%- include("footer.ejs") %>