<%- include("header.ejs", { home: "Home", nav: "Profile", loggedIn: loggedIn}) %>

    <div class="content">
        
        <h2>press Profile button to load changes after BUY/SELL</h2>

        <div class="buyForm">
            <form action="./userProfile" method="POST">
                <input type="text" id="tickerID" name="CurrentStock" placeholder="enter a ticker">
                <input type="text" id="shares" name="shares" placeholder="shares">
                <input type="submit" id="buybtn" name="transtype" value="BUY">
                <input type="submit" id="sellbtn" name="transtype" value="SELL">
            </form>
        </div>
        
        <div class="portfolio-container">
            <table id="portfolio">
                <tr>
                    <th>Ticker</th>
                    <th>shares</th>
                </tr>
                <% for (let i = 0; i < port.length; i++) { %>
                    <tr class="portRow" id=<%=` port${i}` %>>
        
        
                                <td class="ticker">
                                <%= port[i].ticker %>
                                </td>
                                <td class = "shares">
                                <%= port[i].numshares %>
                                </td>
                                <td class = "visualize">
        
        
                                <form action="/candlestickGraph" method="POST">
                                    <button type="submit" id="tickerButton<%=i%>" name="CurrentStock" value="<%=port[i].ticker%>">visualize</button>
                                </form>
        
        
                                </td>
        
        
                    </tr>
                    <% } %>
            </table>
        </div>

    </div>
    <script src="app.js"></script>